body{
    background: #fefefe;
    font-family: 'Raleway';
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p{
    color: #9b9c9e;
    font-size: 18px;
    margin-bottom: 30px;
}

a{
    display:inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #6f61ca;
    font-size: 20px;
    padding: 5px 10px;
    text-transform: capitalize;
}

a:hover{
    color: #403392;
    border: 2px solid #6f61ca;
}

.divide{
    height: 1px;
    background: #ccc;
}